
.page {
    min-height: 100vh;
    margin-left: 250px;
    width: calc(100% - 250px);
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

.secondaryHeaderOfPage{

margin-top: 100px;
display: flex;
flex-direction: row;
gap: 50px;



    
}

.userChosen_Reports{

display: flex;
flex-direction: column;

}

.userChosen_Reports label{

  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 10px;
  
  }

  .firstCol {

display: flex;
flex-direction: column;
gap: 20px;


  }

  .secondCol{

display: flex;
flex-direction: column;
gap: 20px;

  }


  .save-btn_Reports {
    width: 163px;
    height: 48px;
    border-radius: 35px;
    margin-bottom: 100px;
   
  }


