
.page_Reports {
 
    margin-left: 250px;
   
    overflow-x: hidden; 
position: fixed;

top: 0;
   
  
height: 100vh;

z-index: 1000; 



  }

.secondaryHeaderOfPage{

margin-top: 150px;
display: flex;
flex-direction: row;
justify-content: center;

gap: 50px;

margin-right: 200px;



    
}

.userChosen_Reports{

display: flex;
flex-direction: column;

}

.userChosen_Reports label{

  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 10px;
  
  }

  .firstCol {

display: flex;
flex-direction: column;
gap: 20px;


  }

  .secondCol{

display: flex;
flex-direction: column;
gap: 20px;

  }


  .save-btn_Reports {
    width: 163px;
    height: 48px;
    border-radius: 35px;
    margin-bottom: 100px;
   
  }


  .r_dropdown{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;



  }


   .dropLabel{

display: flex;
justify-content: center;
align-items: center;
margin-right: 60px;
margin-left: 0px;

  }


  @media (max-width: 768px) {



    .page_Reports{

margin-left: 0;
margin-right: 0;

    }

    .secondaryHeaderOfPage{

flex-direction: column;

    }

    @media (max-width: 768px) {
      .r_dropdown {
        flex-direction: column; 
        align-items: flex-start; 
      }
      .dropLabel {
        margin-bottom: 0.5rem; 
        margin-right: 0; 
      }
    }





  }