
.main{


top: 0;
   
  
height: 100vh;

z-index: 1000; 






}


.profile-page {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
   width: 100%;
    min-height: 50vh;
 
    margin-left: 250px;
    position: fixed;


  }


  
  .headerOfPage_Profile {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    height: 100px;
    position: fixed; 
    top: 0;
    left: 250px;
    right: 0;
    background-color: white; 
    z-index: 10; }


  .infoInputs {
    display: flex;
    
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 25px;
    
  }



  .registrationInput,.registrationInput_Email {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    gap: 50px;
  }
  



  
  .registrationInput input {
    
    border: 2px solid #00000030; 
    border-radius: 15px; 
    padding: 10px;
    width: 358px;
    box-sizing: border-box;
  }

  .registrationInput_Email input {
   
   border: 2px solid #00000030; 
   border-radius: 15px; 
   padding: 10px;
   width: 358px;
   box-sizing: border-box;
 }


 
  
  


  


  .dropDowns {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    justify-content: flex-start;
   width: 100%;
   gap: 25px;
  }
  

  .userChosen {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
   flex-direction: row;
   justify-content: flex-start;
   gap: 50px;
   
   width: 100%;
  }



  .droper{

    display: flex;
    align-items: center;
    width: auto;
    flex-direction: column;
    justify-content: center;
    
      }

      .dropDowns label{


        font-weight: light;
        margin-right: 10px; 
        display: inline-block;
        width: 150px; 
        text-align: left; 


      }
    
  

  .creatingProfile {
    display: flex;  
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
   
    padding: 20px;
    border-radius: 8px;
   width: 833px;
margin-left: 10px;
   margin-top: 5%;
   
  }
  
  .CompanyLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-left: 100px;
  }

  
  .profileLogo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 10px;
  }
  
 
  .upload-btn {
    width: 163px;
    height: 48px;
    border-radius: 35px;
    
  }


  .save-btn_Profile{
    width: 163px;
    height: 48px;
    border-radius: 35px;
    background: #D9D9D9;
    
  }

  .save-btn_Profile_End {
    width: 163px;
    height: 48px;
    border-radius: 35px;
    background: #D9D9D9;
   

  }
  



  



  .save-btn_Profile .item{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding: 15px;
    font-size: 11px;
  }


  
  .save-btn_Profile_End .item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding: 15px;
    font-size: 11px;
    
  }





  .upload-btn .item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding: 15px;
    font-size: 11px;
  }
  
  
 

 
  

  
  

  .registrationInput label {
    font-weight: light;
    margin-right: 10px; 
    display: inline-block;
    width: 150px; 
    text-align: left; 
  }

  .registrationInput_Email label {
    font-weight: light;
    margin-right: 10px; 
    display: inline-block;
    width: 150px; 
    text-align: left; 
  }


  


 .endOfAccount{
display: flex;
align-items: center;
justify-content: center;
  
margin-left: 160px;
 
  


 }

 @media (max-width: 768px) {
  .profile-page {
    margin-top: 20px;
    position: static;
    flex-direction: column; 
    min-height: 100vh;
    margin-left: 0px;
    
  }

  .creatingProfile {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    
  }

  .endOfAccount {
    margin-top: auto; 
    margin-bottom: 20px; 
    margin-right: 100px;
    
  }

  .headerOfPage_Profile {
    left: 0; 
    right: 0; 
    height: 80px; 
    padding: 0 10px; 
  }

  .infoInputs {
    width: 100%;
  }

  .registrationInput {
    gap: 20px;
  }

  .userChosen {
    gap: 20px;
  }

  .dropDowns {
    width: 100%;
  }

  .CompanyLogo {
    order: -1;
    width: 100%;
    margin-left: 0;
    gap: 5px;
    align-items: center;
  }

  .save-btn_Profile {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    padding: 2px;
    font-size: 10px;
  }

  .upload-btn .item img {
   
    

  }

  .profileLogo {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .endOfAccount {
    display: flex;
    align-items: center;
    margin-top: auto; 
    margin-bottom: 20px; 
    justify-content: center;
    margin-left:30%;
     
  }

.emailInput{

  width: 100%;
 



}



.registrationInput_Email {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  gap: 10px
}




.registrationInput_Email input{

  border: 2px solid #00000030; 
  border-radius: 15px; 
  padding: 10px;
  width: 310px;
  height: 50px;
  box-sizing: border-box;


}



.registrationInput_Email label {
  font-weight: light;
   
  display: inline-block;
 margin-right: 2px; 
  text-align: left; 
}



}

 
  
 
  .topHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    width: 100%;
    padding: 0 20px;
    padding-top: 10px; 
  }
  
  .titleOfHeader_Profile {
    display: flex;
    margin-right: auto;
    margin-left: 48px;
   justify-content: center;
   align-items: center;
  
  }
  
  .titleOfHeader_Profile p {
    font-size: 35px;
  }
  
  .search-box input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 100%;
  }
  
  .theColorSelection {
    padding: 2px;
    border-radius: 45px;
    background: grey;
    width: 54px;
    height: 52px;
  }
  
  .profilePicCircle {
    padding: 2px;
    border-radius: 45px;
    background: grey;
    width: 54px;
    height: 52px;
  }


  

.dropdown-container .dropdown-menu {
  border: 1px solid black; 
}

.dropdown-container .dropdown-item {
  border: 1px solid black; 
}

  